[Desktop Entry]
Exec="/opt/webstack/bin/viewdevtoolsguide.sh"
Terminal=0
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gnome-fs-bookmark.png
Categories=Application;SAMP;
Name=View Development Environment Guide
Comment=View Development Environment Guide
Name[ja]=View Development Environment Guide
Comment[ja]=View Development Environment Guide
Name[zh]=View Development Environment Guide
Comment[zh]=View Development Environment Guide
