[Desktop Entry]
Exec="/opt/webstack/bin/createsample.sh"
Terminal=0
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gnome-fs-bookmark.png
Categories=Application;SAMP_SAMPLE;
Name=Create
Comment=Create
Name[ja]=Create
Comment[ja]=Create
Name[zh]=Create
Comment[zh]=Create
