[Desktop Entry]
Exec="/opt/webstack/bin/stop.sh"
Terminal=1
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gnome-fs-bookmark.png
Categories=Application;SAMP;
Name=Stop Apache2/MySQL Servers
Comment=Stop Apache2/MySQL Servers
Name[ja]=Stop Apache2/MySQL Servers
Comment[ja]=Stop Apache2/MySQL Servers
Name[zh]=Stop Apache2/MySQL Servers
Comment[zh]=Stop Apache2/MySQL Servers
