[Desktop Entry]
Exec=gnome-terminal --hide-menubar --title 'MySQL Log File (CTRL-C to finish)' --execute tail   -20000f /var/svc/log/application-database-mysql:version_50.log
Terminal=0
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gnome-fs-bookmark.png
Categories=Application;SAMP_LOGS;
Name=MySQL log
Comment=MySQL log
Name[ja]=MySQL log
Comment[ja]=MySQL log
Name[zh]=MySQL log
Comment[zh]=MySQL log
