<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.datatools.connectivity.driverExtension">
	 <driverTemplate
        createDefault="true"
        emptyJarListIsOK="false"
        id="org.eclipse.datatools.enablement.mysql.5_1x.driverTemplate"
        jarList="mysql-connector-java-5.1.7-bin.jar"
        name="%org.eclipse.datatools.enablement.mysql.5_1x.driverTemplate"
        parentCategory="org.eclipse.datatools.enablement.mysql.5_1.driverCategory"
        valuesProvider="com.sun.enterprise.datatools.enablement.mysql.internal.driver.MySQLDriverValuesProvider">
         <properties>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.driverClass"
                  name="%driverClass"
                  value="com.mysql.jdbc.Driver"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.vendor"
                  name="%driverVendor"
                  value="MySql"
                  required="true"
                  visible="false"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.version"
                  name="%driverVersion"
                  value="5.1"
                  required="true"
                  visible="false"/>   
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.databaseName"
                  name="%driverDBName"
                  value="database"
                  required="true"
                  visible="true"/>                             
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.URL"
                  name="%driverConnectionURL"
                  value="jdbc:mysql://localhost:3306/database"
                  required="true"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.username"
                  name="%driverUID"
                  value="root"
                  required="false"
                  visible="true"/>
            <property
                  generated="false"
                  id="org.eclipse.datatools.connectivity.db.password"
                  name="%driverPWD"
                  required="false"
                  visible="true"/>
         </properties>
      </driverTemplate>		
	</extension>
	      <extension
            point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
         <driverUIContributor
               class="org.eclipse.datatools.connectivity.ui.wizards.OtherDriverUIContributor"
               driverTemplateID="org.eclipse.datatools.enablement.mysql.5_1x.driverTemplate"
               id="org.eclipse.datatools.enablement.mysql.internal.ui.connection.drivers.5_1x.MySQLOtherDriverUIContributor">
         </driverUIContributor>
      </extension>
</plugin>
