<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Glassfish"
            id="org.sun.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import Glassfish Project from Netbeans"
            icon="icons/images.jpeg"
            category="org.sun.importWizards.sampleCategory"
            class="org.sun.importWizards.ImportProjectWizard"
            id="org.sun.importWizards.ImportProjectWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
