[Desktop Entry]
Exec="/opt/webstack/bin/runsample.sh"
Terminal=0
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gonme-fs-bookmark.png
Categories=Application;SAMP;
Name=Run
Comment=Run
Name[ja]=Run
Comment[ja]=Run
Name[zh]=Run
Comment[zh]=Run
