[Desktop Entry]
Exec=/opt/webstack/bin/initialize.sh
Terminal=1
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gnome-fs-bookmark.png
Categories=Application;SAMP;
Name=Initialize
Comment=Initialize
Name[ja]=Initialize
Comment[ja]=Initialize
Name[zh]=Initialize
Comment[zh]=Initialize

