[Desktop Entry]
Exec="/opt/webstack/bin/viewgettingstartedguide.sh"
Terminal=0
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gnome-fs-bookmark.png
Categories=Application;SAMP;
Name=View Getting Started Guide
Comment=View Getting Started Guide
Name[ja]=View Getting Started Guide
Comment[ja]=View Getting Started Guide
Name[zh]=View Getting Started Guide
Comment[zh]=View Getting Started Guide
