<?xml version="1.0" encoding="UTF-8"?>

<?eclipse version="3.0"?>
<plugin 
   id="com.sun.enterprise.jst.server.sunappsrv.help"
   name="GlassFish Plug-in Documentation for Eclipse"
   version="0.1"
   provider-name="java.net">

  <runtime>
  </runtime>
  <requires>
     <import plugin="org.eclipse.help"/>
  </requires>

  <extension point="org.eclipse.help.toc">
    <toc file="toc.xml" primary="true">
    </toc>
  </extension>
  <extension point="org.eclipse.help.toc">
    <toc file="v3/SJSASEEADG-eclipsehelp/toc.xml" primary="true">
    </toc>
  </extension>
  <extension point="org.eclipse.help.toc">
    <toc file="v3/SJSASEEAG-eclipsehelp/toc.xml" primary="true">
    </toc>
  </extension>
  <extension point="org.eclipse.help.toc">
    <toc file="v3/SJSASEEDG-eclipsehelp/toc.xml" primary="true">
    </toc>
  </extension>
  <extension point="org.eclipse.help.toc">
    <toc file="v3/SJSASEEQSG-eclipsehelp/toc.xml" primary="true">
    </toc>
  </extension>


  <extension point="org.eclipse.help.toc">
    <toc file="v21AdministrationGuide/toc.xml" primary="true">
    </toc>
  </extension>
  <extension point="org.eclipse.help.toc">
    <toc file="v21ApplicationDeploymentGuide/toc.xml" primary="true">
    </toc>
  </extension>
  <extension point="org.eclipse.help.toc">
    <toc file="v21QuickStartGuide/toc.xml" primary="true">
    </toc>
  </extension>
 <extension point="org.eclipse.help.toc">
    <toc file="v21DevelopersGuide/toc.xml" primary="true">
    </toc>
  </extension>
  </plugin>
