[Desktop Entry]
Exec="gedit /var/apache2/logs/error_log"
Terminal=0
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gonme-fs-bookmark.png
Categories=Application;SAMP;
Name=MySQL log
Comment=MySQL log
Name[ja]=MySQL log
Comment[ja]=MySQL log
Name[zh]=MySQL log
Comment[zh]=MySQL log
