[Desktop Entry]
Exec="/opt/webstack/bin/administermysql.sh"
Terminal=0
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gnome-fs-bookmark.png
Categories=Application;SAMP;
Name=Administer MySQL
Comment=Administer MySQL
Name[ja]=Administer MySQL
Comment[ja]=Administer MySQL
Name[zh]=Administer MySQL
Comment[zh]=Administer MySQL
