[Desktop Entry]
Exec="gedit /var/apache2/logs/error_log"
Terminal=0
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gonme-fs-bookmark.png
Categories=Application;SAMP;
Name=Apache2 log
Comment=Apache2 log
Name[ja]=Apache2 log
Comment[ja]=Apache2 log
Name[zh]=Apache2 log
Comment[zh]=Apache2 log
