[Desktop Entry]
Exec="/opt/samp/stuff.sf"
Terminal=0
Type=Application
Icon=/opt/netbeans-5.5/nb5.5/netbeans.png
Categories=Application;SAMP;
Name=Stop Apache2/MySQL Servers
Comment=Stop Apache2/MySQL Servers
Name[ja]=Stop Apache2/MySQL Servers
Comment[ja]=Stop Apache2/MySQL Servers
Name[zh]=Stop Apache2/MySQL Servers
Comment[zh]=Stop Apache2/MySQL Servers
