[Desktop Entry]
Exec="/opt/webstack/bin/start.sh"
Terminal=1
Type=Application
Icon=/usr/share/icons/gnome/24x24/filesystems/gnome-fs-bookmark.png
Categories=Application;SAMP;
Name=Start Apache2/MySQL Servers
Comment=Start Apache2/MySQL Servers
Name[ja]=Start Apache2/MySQL Servers
Comment[ja]=Start Apache2/MySQL Servers
Name[zh]=Start Apache2/MySQL Servers
Comment[zh]=Start Apache2/MySQL Servers
